@import './base.css';
$light-green: #78e378;
$light-gray:#f5f5f5;
$iceberg-blue: #8babd8;
$rich-black: #011627;
$navy-grey: #707991; 
$grey-text: #888;
$avatar-size: 40px;
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif; 
}

.icon{
  width: 16px;
  height: 16px;
}
.grey-text{
  font-size: 14px;
  color: $grey-text;
}
.avatar{
  width: $avatar-size;
  height: $avatar-size;
  background-color: $iceberg-blue;
  border-radius: 50%;    
  flex-shrink: 0;
}

button{
  border: none;
  background-color: white;
  cursor: pointer;
}

